<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
        <div class="intro-text">
          <span class="name">Dr. Boram Kim</span>
          <hr class="star-light" />
          <span class="skills">Assistant Professor at CUNY Lehman College<br/><i>Department of Speech-Language and Hearing Sciences</i></span>
        </div>
      </div>
    </div>
  </div>
</header>
